<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.wowomall.footprint.mapper.FootprintMapper">

    <select id="findFootprints" parameterType="java.util.List" resultType="FootprintItem">
        select id,
               gmt_create,
               birth_time,
               user_id,
               goods_id
        from oomall_footprint_item
        <choose>
         <when test="userId>0">
           where user_id=#{userId}
            <if test="goodsId>0">
                 and goods_id=#{goodsId}
            </if>
         </when>
         <otherwise>
             <if test="goodsId>0">
                 where goods_id=#{goodsId}
             </if>
         </otherwise>
        </choose>

        order By birth_time desc
        limit #{page}, #{limit}
    </select>

    <select id="findFootprintById" parameterType="Integer" resultType="FootprintItem">
        select id,
        gmt_create,
        birth_time,
        user_id,
        goods_id
        from oomall_footprint_item
        where id=#{footprintId}

    </select>

    <delete id="deleteFootprintById" parameterType="Integer">
        delete
        from oomall_footprint_item
        where id=#{footprintId}
    </delete>

    <insert id="insertFootprint" parameterType="FootprintItem" useGeneratedKeys="true" keyProperty="id">
        insert into `oomall_footprint_item`(
            user_id,
            goods_id,
            gmt_create,
            birth_time
        ) values (
            #{userId},
            #{goodsId},
            #{gmtCreate},
            #{birthTime}
        )
    </insert>

    <select id="findFootprintByUserIdAndGoodsId"  resultType="FootprintItem">
        select id,
        gmt_create,
        birth_time,
        user_id,
        goods_id
        from oomall_footprint_item
        where user_id=#{userId} and goods_id=#{goodsId}

    </select>

    <update id="updateFootprint" parameterType="FootprintItem">
        update oomall_footprint_item
        <set>
            <if test="birth_time != null">
                birth_time = #{birth_time},
            </if>
            <if test="gmt_create != null">
                gmt_create = #{gmt_create},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>